{% extends "base.twig" %}

{% block hero %}
    {% include "components/mainhero.twig" with { text: post.get_field('hero_description') }%}
{% endblock %}

{% block content %}
    <body class="department-body">
        <div class="department-container">

            <h3>
                <b>{{post.get_field("Heading")}}</b>
            </h3>

            <p>
                {{post.get_field("department_intro")}}
            </p>
        </div>

        <div class="button-con">
            <a class="dep-button myBtn" href="{{post.get_field('department_buttons').department_button_link0}}">{{post.get_field("department_buttons").department_button_text0}}</a>
            <a class="dep-button" href="{{post.get_field('department_buttons').department_button_link1}}">{{post.get_field("department_buttons").department_button_text1}}</a>
        </div>

    </body>

{% endblock %}