{% extends "base.twig" %}

{% block hero %}
  {% include "components/mainhero.twig" with { text: post.get_field('hero_description') }%}
{% endblock %}

{% block content %}
  {#
  {% embed "components/stripeblock.twig" with { style: "black-to-white", class: "company-intro", wrapperclass: "company-intro-content" } %}
    {% block stripecontent %}
      <div class="wysiwyg-text-container company-intro-text">
        {{post.get_field('company_intro').text}}
        <div class="button-container">
          <a class="button company-intro-button" href="{{post.get_field('company_intro').call_to_action.button_url}}">
            {{post.get_field('company_intro').call_to_action.button_text}}
          </a>
        </div>
      </div>
      <div class="company-intro-graphic-wrapper">
        <img src="{{post.get_field('company_intro').background_image}}"></img>
      </div>
    {% endblock %}
  {% endembed %} #}

  {# start of teamblock #}
  <h1 class="block our-teams-header">MEIDÄN TIIMIMME</h1>
  <div class="block team-blocks-grid">

    {% for item in post.get_field('team_block') %}
      {% include "components/teamblock.twig" with {
        team_title : item.team_title,
        team_thumbnail: item.team_thumbnail,
        team_description: item.team_description
      } %}
    {% endfor %}
    <div class="team-btn-con block">
      <button class="team-btn">Tahdotko mukaan tiimiin? Hae tästä!</button>
    </div>
  </div>
  {# end of teamblock #}

  {# osaamo stripeblock #}
  {% embed "components/stripeblock-start.twig" with { style: "gray-to-white" }%}{% endembed %}

  <div class="full-width-block gray no-margin">
    <div class="full-width-block-wrapper osaamo">
      {{post.get_field("info").infotext}}

      <div class="button-container">
        <a class="infobutton" href="{{post.get_field('info').buttons.buttonurl1}}">
          {{post.get_field("info").buttons.buttontext1}}
        </a>

        <a class="infobutton" href="{{post.get_field('info').buttons.buttonurl2}}">
          {{post.get_field("info").buttons.buttontext2}}
        </a>
      </div>
    </div>

  </div>
  {% embed "components/stripeblock-end.twig" with { style: "lightgray-to-gray" } %}{% endembed %}
  {# end of osaamo stripeblock #}

  {#  Leader stripeblock  #}
  {% embed "components/stripeblock.twig" with { style: "gray-to-lightgray", class: "leader-block"} %}
    {% block stripecontent %}

      <div class="block leader-blocks-grid">

        {% for item in post.get_field('leader_block') %}
          {% include "components/leaderblock.twig" with {
            leader_title : item.leader_title,
            leader_thumbnail: item.leader_thumbnail,
            leader_desc: item.leader_desc
          } %}
        {% endfor %}

      </div>

    {% endblock %}
  {% endembed %}
  {# end of leaderblock #}

  {#   whitesmoke block
  <div class="full-width-block whitesmoke">
    <div class="read-more-teams-wrapper">
      <div class="read-more-teams">
        <h2>Lue Lisää Tiimeistämme</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        <div>
          <button class="big">{{post.get_field('my_pet')}}</button>
        </div>
      </div>
    </div>
  </div>
  #}
  {# address box #}
  <div class="address">
    <p>
      Lapinlahdenkatu 16
      <br>
      00180 HELSINKI
    </p>
  </div>
  {# address box end #}
  {# map start #}
  <div class="block page-content">
    {{post.content}}
  </div>
  {# map end #}
  {# partners start #}
  <div class="partners">
    {{post.get_field("partners").partner_text}}

    <div class="partners-images">

      {% for image in post.get_field('partner_logo') %}
        <img class="partner-logo" src="{{image.url}}">
      {% endfor %}
    </div>
  </div>
  {# partners end #}
{% endblock %}