{% extends "base.twig" %}

{% block hero %}
{% include "components/mainhero.twig" with { text: post.get_field('hero_description') }%}
{% endblock %}

{% block content %}

  <div id="section-one">
    
    </div>
    <div class="testtest">
    <div class="company-intro-graphic-wrapper">
    <div class="wysiwyg-text-container company-intro-text block ">
      <p class="intro-text">
      {{post.get_field('company_intro').text}}
      </p>
    
    </div>
    </div>
      <img src="{{post.get_field('company_intro').background_image}}"></img>
    </div>

<div class="block team-blocks-grid">

  {% for item in post.get_field('team_block') %}
    {% include "components/teamblock.twig" with {
      team_title: item.team_title,
      team_thumbnail: item.team_thumbnail,
      team_description: item.team_description
    } %}
  {% endfor %}
</div>
<div class="stripefail">
{% embed "components/stripeblock.twig" with { style: "black-to-white", class: "company-intro", wrapperclass: "company-intro-content" } %}
  {% block stripecontent %}

<p class="unskew">
{{post.get_field('info').infotext}}


</p>
<div class="button-container">
<a class="infobutton" href="{{post.get_field('info').buttons.buttonurl1}}">
{{post.get_field("info").buttons.buttontext1}}
</a>

<a class="infobutton" href="{{post.get_field('info').buttons.buttonurl2}}">
{{post.get_field("info").buttons.buttontext2}}
</a>
</div>
  {% endblock %}
{% endembed %}
</div>
 <div class="greystripefail">

{% include "components/grey.twig" %}
 {% block grey %}

 
{% endblock %}
</div>

<div class="block leader-blocks-grid">

  {% for item in post.get_field('leader_block') %}
    {% include "components/leaderblock.twig" with {
      leader_title: item.leader_title,
      leader_thumbnail: item.leader_thumbnail,
      leader_desc: item.leader_desc
    } %}
  {% endfor %}

</div>

<div class="block page-content">

<div class="address-box">
<p class="address">Lapinlahdenkatu 16 <br> 
00180 Helsinki</p>
</div>

<div class="map">
  {{post.content}}
</div>

 <img src="{{image}}"


{% endblock %}