{% if footer_menu %}
  <ul class="{{is_children ? 'child ' : ''}}nav-ul">
    {% for item in menu %}
      <li class="{{ item.classes | join(' ') }}">
        <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
        {% if item.get_children %}
          {% include "menu.twig" with {
            'menu' : item.get_children,
            'is_children' : true
          } %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}