{% if (site.language == "fi") %}
    <div id="close" class="gdpr-pop">
        <p class="gdpr-text">{{gdpr_popup.gdpr_popup_text}}</p>
        <button class="gdpr-button" onclick="document.getElementById('close').style.display='none'">
            {{gdpr_popup.gdpr_popup_button_text}}
        </button>
        <a class="gdpr-button1" href="{{gdpr_popup.gdpr_button_link}}">

            {{gdpr_popup.gdpr_popup_button_text1}}

        </a>
    </div>
{% elseif (site.language) == "en-US" %}
    <div id="close" class="gdpr-pop">
        <p class="gdpr-text">{{gdpr_popup_en.gdpr_popup_text_en}}</p>
        <button class="gdpr-button" onclick="document.getElementById('close').style.display='none'">
            {{gdpr_popup_en.gdpr_popup_button_text_en}}
        </button>
        <button class="gdpr-button1">
            <a href="{{gdpr_popup_en.gdpr_button_link_en}}">{{gdpr_popup_en.gdpr_popup_button_text1_en}}</a>
        </button>
    </div>
{% else %}
    <div id="close" class="gdpr-pop">
        <p class="gdpr-text">{{gdpr_popup_sv.gdpr_popup_text_sv}}</p>
        <button class="gdpr-button" onclick="document.getElementById('close').style.display='none'">
            {{gdpr_popup_sv.gdpr_popup_button_text_sv}}
        </button>
        <button class="gdpr-button1">
            <a href="{{gdpr_popup_sv.gdpr_button_link_sv}}">{{gdpr_popup_sv.gdpr_popup_button_text1_sv}}</a>
        </button>
    </div>
{% endif %}