
<div class="grey-block {{style}} {{class}}">
  <div class="grey-stripe-block-content-wrapper {{wrapperclass}}">
    {% block grey %}
      {# Conten here #}
    {% endblock %}
  </div>
 
</div>
<div class="grey-block1 {{style}} {{class}}">
  <div class="grey-stripe-block-content-wrapper {{wrapperclass}}">
  
  </div>
 
</div>
