<div class="leader-box">

    <div class="leader-text">
        <div class="leader-cube"></div>
        <h3>{{leader.leader_title}}</h3>
        <span class="job-title">{{leader.job_title}}</span>
        {% if leader.email %}
            <span class="email">
                <a href="mailto:{{leader.email}}">{{leader.email}}</a>
            </span>
        {% endif %}
        {% if leader.phone_number %}
            <span class="phone-number">{{leader.phone_number}}</span>
        {% endif %}
        {% if leader.vcard %}
            <a class="vcard" href="{{leader.vcard}}">

                <span >vCard</span>
            </a>
        {% endif %}
    </div>
</div>