<div class="logo-container" 
  style="height:{{logo_size_height}}px; width:{{logo_size_width}}px;"  
>
  <a href="{{home_link}}"
    style="display: inline-block;"
  >
    <svg width="{{logo_size_height}}" height="{{logo_size_width}}" viewBox="0 0 229 197" xmlns="http://www.w3.org/2000/svg">
        <g class="logo-group" fill="black" fill-rule="nonzero">
          <path d="M74.263 179.987l72.98-72.98 16.681 16.68-72.98 72.98z" />
          <path d="M142.77 69.2V69l68.95 68.95 16.68-16.68-99.9-99.93L107.16 0 90.48 16.68 111.82 38c.73.73 1.4 1.49 2 2.28 8.28 10 9.11 23.73 4.47 37.82-2.83 8.61-8.66 16.39-16 23.69-11.13 11.13-24.62 17.53-37.11 18.44-10.08.73-19.5-2.09-26.54-9.13l-4.66-4.66 56.3-56.3-16.59-16.67-73 73 16.68 16.68 4.66 4.66c11.51 11.52 27.79 16.18 46 14.54 19.85-1.79 35.72-11 49.78-25.09a92.24 92.24 0 0 0 16.79-22.88 80 80 0 0 0 8.17-25.18z"
        />
      </g>
    </svg>
  </a>
</div>