
<div class="stripe-block {{style}} {{class}}">
  <div class="stripe-block-content-wrapper {{wrapperclass}}">
    {% block stripecontent %}
      {# Conten here #}
    {% endblock %}
  </div>
  
</div>
<div class="stripe-block1 {{style}} {{class}}">
  <div class="stripe-block-content-wrapper {{wrapperclass}}">
  
  </div>
 
</div>
